<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org%22%3E/">
    <div th:replace="~{/fragments/commons :: head}"></div>
    <title>
        CadastararPage
    </title>
<body>
    <div th:replace="~{/fragments/commons :: NavigationCadastro}"></div>
    <div th:replace="~{/fragments/commons :: headerCadastro}"></div>

    <form method="post" th:action="@{/doSalvar}" th:object="${camisa}" enctype="multipart/form-data">
        <div th:replace="~{/fragments/commons :: sectionCadastro}"></div>
    </form>
    
    <div th:replace="~{/fragments/commons :: footer}"></div>
    <div th:replace="~{/fragments/commons :: script}"></div>
</body>
</html>