<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org%22%3E/">
    <div th:replace="~{/fragments/commons :: head}"></div>
    <title>
        Carrinho
    </title>
<body>
<div th:if="${param.mensagem}" class="alert alert-success">
    <span th:text="${param.mensagem}"></span>
</div>

<div th:replace="~{/fragments/commons :: NavigationCarrinho}"></div>
<div th:replace="~{/fragments/commons :: headerCarrinho}"></div>
<div th:replace="~{/fragments/commons :: sectionCarrinho}"></div>
<div th:replace="~{/fragments/commons :: footer}"></div>
<div th:replace="~{/fragments/commons :: script}"></div>

</body>
</html>
